.send-email-link {
    font-weight: bold !important;
}

.message-box {
    border: 0.1px solid darkgreen;
    padding: 20px;
    background-color: beige;
    margin: 10px;
}

p.text-highlight {
    font-weight: 600;
    transform: scaleY(1.1);
    text-decoration: underline;
}

ul {
    padding-left: 0px;
}

ul>li {
    list-style-type: none;
}