<div>
    <div class=" message-box">
        <div class="row">
            <div class="col-xs-10">
                <ul>
                    <li>
                        <p class="text-highlight"> If you need to approve your team members pathway, click
                            <a [routerLink]="['/manager']" class="send-email-link">
                                        here</a>
                        </p>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-10">
                <p class="send-email-link">You don’t have access to appliedx PATHWAY yet because,</p>
                <ol>
                    <li> Either Step 1: Role Selection, or Step 2: Manager Approval of Role is pending in your pathway process. </li>
                    <li> Please click on the relevant step of the process on the <a class="send-email-link" href="https://spprdappweb.amat.com/RoleAssignmentTool/Pages/landing.aspx">landing page</a> to complete role selection before pathway course selection.</li>
                </ol>
            </div>
        </div>

    </div>

</div>