.summary-box{
    background: #fff;
    border: 1px solid #ebebe9;
    /* box-shadow: 0 3px 9px rgba(0, 0, 0, .5); */
    box-shadow: 0px 2px 5px rgba(234, 234, 234, 0.87);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.summary-body{

}
.summary-header-title{
    font-weight: bold;
    font-variant: normal;
    font-size: medium;
    color:black;
}

.heading{
    font-size: 14px;
}

.mandatoryStar{
    color: red !important;
}

a.create-path-btn {
    border-radius: 100px;
    background-color: #00B948;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 3px 20px;
    text-decoration: none;
}
a.go-back-btn {
    border-radius: 100px;
    background-color:lightgray;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 3px 20px;
    text-decoration: none;
}

.btn-box{
    width:100%;
    margin-top:20px;
}

.error-text{
    color:red;
    font-weight: 500;
}

.text-upper{
   text-transform: uppercase;
   font:bold;
   font-family: "Open Sans";
}


.cutoffHourSection-header{
    margin-bottom: 5px;
}

.cutoffHourSection-header-title{
    font-weight: bold;
    font-style:normal;
}

.glyphicon-ok-circle{
    color: #00B948;
}

.glyphicon-ok-sign{
    color: #00B948;
}

.user-note{
    margin-top: 30px;
    margin-bottom: 20px;
}

.user-note-heading{
    font-size: 15px;
    padding: 0px;
}

.font-weight650{
    font-weight:650;
}

.pathway-status{
    font-size: 12px;
    padding-left: 10px;
    font-weight: 600;
}

.info{
    color: darkorange;
}
.error{
    color: red;
    font-size: 11px !important;
}
.success{
    color:forestgreen;
}

.edit-btn{
    padding:1px 2px;
    font-size: 8px;
    background-color: #42a5f5 !important;
    border-color: #42a5f5 !important;
}

.edit-btn-text{
    font-size: 12px;
    font-weight: 600;
    transform: scale(1,1.1);
    display: inline-block;
    color: #42a5f5 !important;
    text-transform: uppercase;
}
.close-button-margin{
    margin:0px
}

.reset-pathway{
    border-radius: 30px;
    background-color: #3B7B9B;
    color: #fff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    padding: 3px 10px;
    text-decoration: none;
    transition: 0.5s all;
}
button.reset-pathway:hover {
    background-color: #8AC00B;
    text-decoration: none;
    transition: 0.5s all;
}

.reset-confirm-msg{
font-family: "Open Sans";
font-size: 14px;
font-weight: normal;
color: #53565A;
}
