<!-- <div class="well">

    <p>Your access to appliedx Pathway is restricted currently. This may be due to the following reason.</p>

    <p>You are not part of the appliedx pathway audience at this moment - due to leadership and management training, SAP training,
        or other exclusions for your business unit. </p>

    <p>If you believe this to be an error, please click
        <a href="mailto:Appliedx_Rst@amat.com?subject=Question about appliedx pathway access / program"
            class="send-email-link">here</a> to raise a ticket with the appliedx business team.</p>
</div> -->

<div>
    <div class=" message-box">
        <div class="row">
            <div class="col-xs-10">
                <ul>
                    <li>
                            <p class="text-highlight"> If you need to approve your team members pathway, click
                                    <a [routerLink]="['/manager']" class="send-email-link">
                                    here</a>
                                </p>
                    </li>
                </ul>
                    
            </div>
        </div>
       
 <div class="row">
        <div class="col-xs-10">
                <p class="send-email-link">You don’t have access to appliedx PATHWAY yet because,</p>
                <ol>
                    <li> The pathway curriculum for your job role hasn’t yet been finalized. </li>
                    <li> You are part of AGS, PDC which will be targeted in Phase 2 of the process. </li>
                    <!-- <li> You are excluded from appliedx PATHWAY this year due to leadership training, SiGFP (SAP) training or any
                        other exclusion for your BU.</li> -->
    
                </ol>
                <!-- <p> If you need to approve your team members pathway, click
                    <a [routerLink]="['/manager']" class="send-email-link">
                    here</a>
                </p> -->
                <p class="exclusion-message">Click <a href={{exclusionListUrl}} target="_blank" class="send-email-link">here</a> to see why you are excluded from appliedx PATHWAY. Search this file for your Employee ID. If you need to take additional action, we will contact you.</p>
                <p>Please be patient, you will receive an email when appliedx PATHWAY is available for you.</p>
                <p> If you still believe there is a technical error, click
                    <a href="mailto:Appliedx_Rst@amat.com?subject=Question about appliedx pathway access / program" class="send-email-link">here</a> to raise a ticket.</p>
    
            </div>
 </div>
        
    </div>

</div>