<div class="container">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
            <p class="Invite"><span><img src="/LearningPathways/assets/images/envelop.png" alt=""/></span> Hello {{currentEmployeeName}}, you have been invited to create a Pathway curriculum for FY'18.</p>
            <p class="Invite">Please watch the demo video, linked at the top right, for help in using the application.</p>
            <p class="Invite">Please select a role from the dropdown below.</p>
        </div>
    </div>
    <div class="row">
        <div class="checkbox">
            <label>
        <input class="clone-title" type="checkbox" [checked]="isCopyFromRole" (change)="toggleCopyFromDropDown($event)"> Like to copy a curriculum from an existing role ?
      </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <ng-select [options]="rolesDropDownOptions" data-id="5" [allowClear]="true" placeholder="Select a role" filterPlaceholder="type to search..." notFoundMsg="No role found" (selected)="onRoleSelect($event)" (deselected)="onRoleDeselect($event)"></ng-select>

        </div>
        <div class="col-md-6" [hidden]="!showCopyFromDropDown()">
            <ng-select [options]="rolesCopyFromDropDownOptions" [allowClear]="true" placeholder="Select a role to copy from" filterPlaceholder="type to search..." notFoundMsg="No role found" (selected)="onCopyFromRoleSelect($event)" (deselected)="onCopyFromRoleDeselect($event)"></ng-select>
        </div>
    </div>

    <div [hidden]="!showCopyFromDropDown()">
        <div class="box-margin"></div>
        <div class="row text-center infoMessage">
            <span>{{infoMessage}}</span>
        </div>
    </div>


    <div class="box-margin"></div>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="Owners">
                <table class="table table-bordered table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th>Curriculum Owner</th>
                            <th>Role</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Akiko Schulte</td>
                            <td>Order Management</td>

                        </tr>
                        <tr>
                            <td>Alan Tracey</td>
                            <td>Contract</td>

                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Algorithm Developer</td>
                        </tr>


                        <tr>
                            <td>Amit Puri</td>
                            <td>Algorithms</td>
                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Baseline Manager/Project Lead</td>
                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Developer</td>
                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Global Support (Software Support Engineer)</td>
                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Sub-Systems Lead/Component Manager</td>
                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Test & QA (Software QA Engineer)</td>
                        </tr>
                        <tr>
                            <td>Amit Puri</td>
                            <td>Tool Diagnostics and Health Monitoring</td>
                        </tr>
                        <tr>
                            <td>Anand Kamannavar</td>
                            <td>New Business Development</td>
                        </tr>
                        <tr>
                            <td>Antoine Manens</td>
                            <td>Optical Engineer</td>
                        </tr>
                        <tr>
                            <td>Charles Price</td>
                            <td>Supply Chain Program Manager</td>
                        </tr>
                        <tr>
                            <td>Chris Olsen</td>
                            <td>Physicist/Scientistr</td>
                        </tr>
                        <tr>
                            <td>Chris Olsen, Sung Kim</td>
                            <td>Process Engineer</td>
                        </tr>
                        <tr>
                            <td>Christine Pelissier, Art Sherman</td>
                            <td>Technical/Field Marketing</td>
                        </tr>
                        <tr>
                            <td>Dale Morris, Danny Morales</td>
                            <td>Assembly Technician</td>
                        </tr>
                        <tr>
                            <td>Dale Morris, Danny Morales</td>
                            <td>Test Technician</td>
                        </tr>
                        <tr>
                            <td>Danny Morales</td>
                            <td>Operations Management</td>
                        </tr>
                        <tr>
                            <td>David Thompson</td>
                            <td>Chemist</td>
                        </tr>
                        <tr>
                            <td>Debra Matsuhiro, Ramesh Viswanathan</td>
                            <td>Business Unit Operations</td>
                        </tr>
                        <tr>
                            <td>Donald Reis</td>
                            <td>Welder/ Welding Quality Engineer</td>
                        </tr>
                        <tr>
                            <td>Eric Englhardt</td>
                            <td>Systems Engineer</td>
                        </tr>
                        <tr>
                            <td>Imran Afzal</td>
                            <td>AC/DC Power</td>
                        </tr>
                        <tr>
                            <td>Israel Ne'eman</td>
                            <td>PSE Expert (E4+)</td>
                        </tr>
                        <tr>
                            <td>Israel Ne'eman</td>
                            <td>PSE Foundational (E1-E3)</td>
                        </tr>
                        <tr>
                            <td>Israel Ne'eman</td>
                            <td>PSE Manager/Technical Director</td>
                        </tr>
                        <tr>
                            <td>James Felsch</td>
                            <td>Quality Control</td>
                        </tr>
                        <tr>
                            <td>James Felsch</td>
                            <td>Quality Control</td>
                        </tr>
                        <tr>
                            <td>Jaydeep Khedkar, Art Sherman</td>
                            <td>Product Marketing</td>
                        </tr>
                        <tr>
                            <td>Jaydeep Khedkar, Art Sherman</td>
                            <td>Strategic Marketing</td>
                        </tr>
                        <tr>
                            <td>Jeff Fluegel</td>
                            <td>Business Intelligence Analyst</td>
                        </tr>
                        <tr>
                            <td>Jeff Hudgens</td>
                            <td>ME-Mechatronics</td>
                        </tr>
                        <tr>
                            <td>Jeff Hudgens</td>
                            <td>Robotics</td>
                        </tr>
                        <tr>
                            <td>Jennifer Sun</td>
                            <td>Materials Scientist</td>
                        </tr>
                        <tr>
                            <td>Jim Wilson</td>
                            <td>Intellectual Property Law</td>
                        </tr>
                        <tr>
                            <td>John Forster</td>
                            <td>Hardware Technician</td>
                        </tr>
                        <tr>
                            <td>John Geise</td>
                            <td>Materials Program Manager</td>
                        </tr>
                        <tr>
                            <td>Jon Kuntz</td>
                            <td>Machinist</td>
                        </tr>
                        <tr>
                            <td>Kartik Ramaswamy</td>
                            <td>Process Power</td>
                        </tr>
                        <tr>
                            <td>Kengo Takagi</td>
                            <td>Configuration Management Engineer</td>
                        </tr>
                        <tr>
                            <td>Kengo Takagi</td>
                            <td>Product Configuration Management</td>
                        </tr>
                        <tr>
                            <td>Kent Rossman</td>
                            <td>Business Management</td>
                        </tr>
                        <tr>
                            <td>Kent Rossman</td>
                            <td>Business Management Operations</td>
                        </tr>
                        <tr>
                            <td>Kevin Smith</td>
                            <td>Customer Experience Engineer</td>
                        </tr>
                        <tr>
                            <td>Kurt Kwok</td>
                            <td>Sales</td>
                        </tr>
                        <tr>
                            <td>Kurt Kwok</td>
                            <td>Sales Operations</td>
                        </tr>
                        <tr>
                            <td>Larry Sparks</td>
                            <td>Financial Analysis</td>
                        </tr>
                        <tr>
                            <td>Loanne Luu</td>
                            <td>Technical Program Manager</td>
                        </tr>
                        <tr>
                            <td>Loy Stuart</td>
                            <td>Controls</td>
                        </tr>
                        <tr>
                            <td>Loy Stuart</td>
                            <td>Electrical General Design </td>
                        </tr>
                        <tr>
                            <td>Loy Stuart</td>
                            <td>Signal Processing</td>
                        </tr>
                        <tr>
                            <td>Mariana Luigi</td>
                            <td>Operations Program Management</td>
                        </tr>
                        <tr>
                            <td>Matthew R Horton</td>
                            <td>New Product Transition Program Manager (NPTPM)</td>
                        </tr>
                        <tr>
                            <td>Mete Bayyigit, Robert Ferrando</td>
                            <td>Materials Handler</td>
                        </tr>
                        <tr>
                            <td>Mete Bayyigit, Robert Ferrando</td>
                            <td>Receiving</td>
                        </tr>
                        <tr>
                            <td>Mete Bayyigit, Robert Ferrando</td>
                            <td>Shipper</td>
                        </tr>
                        <tr>
                            <td>Mete Bayyigit, Sandra Silva</td>
                            <td>Logistics Operations</td>
                        </tr>
                        <tr>
                            <td>Michael Brigman, Don Cordoni</td>
                            <td>Buyer</td>
                        </tr>
                        <tr>
                            <td>Michelle Mapp Cooper</td>
                            <td>Planning and Control</td>
                        </tr>
                        <tr>
                            <td>Mike Rice</td>
                            <td>Chief Engineer</td>
                        </tr>
                        <tr>
                            <td>Mike Rice</td>
                            <td>Systems Architect</td>
                        </tr>
                        <tr>
                            <td>Milena Naidenova</td>
                            <td>Strategic Program Manager</td>
                        </tr>
                        <tr>
                            <td>Murali Narasimhan</td>
                            <td>Product Line Management</td>
                        </tr>
                        <tr>
                            <td>Nihat Kurkcu, Pascal daniel Mardivirin , Tim Hobbs</td>
                            <td>Technical Continuous Improvement Expert</td>
                        </tr>
                        <tr>
                            <td>Omid Amirkiai</td>
                            <td>DfX Engineer</td>
                        </tr>
                        <tr>
                            <td>Patrick Martin</td>
                            <td>Applications Lead</td>
                        </tr>
                        <tr>
                            <td>Patrick Martin</td>
                            <td>Process Support Technician</td>
                        </tr>
                        <tr>
                            <td>Patrick Martin, Peter Loewenhardt</td>
                            <td>Customer Account Technologist</td>
                        </tr>
                        <tr>
                            <td>Paul Wirth</td>
                            <td>EE-Mechatronics-Servo</td>
                        </tr>
                        <tr>
                            <td>Peter Curley</td>
                            <td>Industrial Engineer</td>
                        </tr>
                        <tr>
                            <td>Peter Curley</td>
                            <td>Manufacturing Engineer</td>
                        </tr>
                        <tr>
                            <td>Peter Curley</td>
                            <td>New Product Manufacturing Engineer (NPME)</td>
                        </tr>
                        <tr>
                            <td>Peter Curley</td>
                            <td>New Product Release Program Manager</td>
                        </tr>
                        <tr>
                            <td>Peter Curley</td>
                            <td>Product Cost Engineer</td>
                        </tr>
                        <tr>
                            <td>Peter Curley</td>
                            <td>Test Engineer</td>
                        </tr>
                        <tr>
                            <td>Peter Loewenhardt</td>
                            <td>Field Performance Manager</td>
                        </tr>
                        <tr>
                            <td>Prabhat Sinha</td>
                            <td>Manufacturing Quality Engineer</td>
                        </tr>
                        <tr>
                            <td>Raman Achutharaman</td>
                            <td>Engineering Management</td>
                        </tr>
                        <tr>
                            <td>Ravi Chandra</td>
                            <td>Business Unit Quality & Reliability Engineer</td>
                        </tr>
                        <tr>
                            <td>Ravi Chandra</td>
                            <td>Product Reliability Engineer</td>
                        </tr>
                        <tr>
                            <td>Robert Banks</td>
                            <td>ELS/Pilot- Test Engineer</td>
                        </tr>
                        <tr>
                            <td>Robert Banks</td>
                            <td>ELS/Pilot-Industrial Engineer</td>
                        </tr>
                        <tr>
                            <td>Robert Banks</td>
                            <td>Pilot Manufacturing Engineering </td>
                        </tr>
                        <tr>
                            <td>Sandra Silva</td>
                            <td>Service Manager</td>
                        </tr>
                        <tr>
                            <td>Schubert Chu, Sanjeev Baluja</td>
                            <td>Core Team Leader</td>
                        </tr>
                        <tr>
                            <td>Scott Hambelton, Mark D'Agostino</td>
                            <td>Product Safety Engineer</td>
                        </tr>
                        <tr>
                            <td>Song Moon-Suh</td>
                            <td>Defects Technologist</td>
                        </tr>
                        <tr>
                            <td>Sree Kesapragada, Paul Ma, Patrick Martin</td>
                            <td>Technology Lead</td>
                        </tr>
                        <tr>
                            <td>Stephen Carlson</td>
                            <td>ELS/Pilot Technician</td>
                        </tr>
                        <tr>
                            <td>Stephen Carlson</td>
                            <td>Master Scheduler</td>
                        </tr>
                        <tr>
                            <td>Stephen Carlson</td>
                            <td>Planner</td>
                        </tr>
                        <tr>
                            <td>Steve Gustafson</td>
                            <td>Supplier Quality Engineer</td>
                        </tr>
                        <tr>
                            <td>Steve Gustafson</td>
                            <td>Supplier Technology</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni</td>
                            <td>Liquid Delivery</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni</td>
                            <td>Routing</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni</td>
                            <td>Vacuum Engineer</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni</td>
                            <td>Engineering Product Manager</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni, Sanjeev Baluja</td>
                            <td>Mechanical General Design</td>
                        </tr>
                        <tr>
                            <td>Sushant Koshti </td>
                            <td>Gas Delivery</td>
                        </tr>
                        <tr>
                            <td>Tae Won Kim</td>
                            <td>Productivity Engineer</td>
                        </tr>
                        <tr>
                            <td>Todd Hart</td>
                            <td>Global Product Support (GPS) Engineer</td>
                        </tr>
                        <tr>
                            <td>Todd Hart</td>
                            <td>Technical Publication</td>
                        </tr>
                        <tr>
                            <td>Todd Hart</td>
                            <td>Total Product Support (TPS) Engineer</td>
                        </tr>
                        <tr>
                            <td>Tom Faulkner</td>
                            <td>Field Support Assembly Technician </td>
                        </tr>
                        <tr>
                            <td>Tom Faulkner</td>
                            <td>Integration & Start Up Engineer </td>
                        </tr>
                        <tr>
                            <td>Troy Mills</td>
                            <td>Commodity Business Manager</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar</td>
                            <td>Chemistry and Materials</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar</td>
                            <td>Electromagnets</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar</td>
                            <td>Feature Level</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar</td>
                            <td>Fluid Flowl</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar</td>
                            <td>Structural</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar</td>
                            <td>Thermal</td>
                        </tr>
                        <tr>
                            <td>Umesh Kelkar, Shahid Rauf</td>
                            <td>Plasma</td>
                        </tr>
                        <tr>
                            <td>Vijay Sinha</td>
                            <td>Customer Quality Engineer</td>
                        </tr>
                        <tr>
                            <td>Wendy Wolfe</td>
                            <td>Product Structure Management</td>
                        </tr>
                        <tr>
                            <td>Irit Shaaya Segal</td>
                            <td>Image Processing (PDC)</td>
                        </tr>
                        <tr>
                            <td>Doron Girmonsky</td>
                            <td>Algorithm Developer</td>
                        </tr>
                        <tr>
                            <td>Eran Dvir</td>
                            <td>Motion Engineer</td>
                        </tr>
                        <tr>
                            <td>Amir Komem, Ralf Schmit, Chaim Brauda</td>
                            <td>Column Engineer</td>
                        </tr>
                        <tr>
                            <td>Sela Chen,Moshe Sade</td>
                            <td>Regional Support Manager (PDC)</td>
                        </tr>
                        <tr>
                            <td>Dror Zur,Moshe Sade</td>
                            <td>Systems Qualification Engineer (PDC)</td>
                        </tr>
                        <tr>
                            <td>Dror zur,Moshe Sade</td>
                            <td>Hardware Qualification Engineer (PDC)</td>
                        </tr>
                        <tr>
                            <td>Noam Shahar,Ziv Parizat</td>
                            <td>Product Specialist</td>
                        </tr>
                        <tr>
                            <td>Noam Shahar,Ziv Parizat</td>
                            <td>Application Engineers (AE100)</td>
                        </tr>
                        <tr>
                            <td>Noam Shahar,Ziv Parizat</td>
                            <td>Application Engineers (AE200)</td>
                        </tr>
                        <tr>
                            <td>Noam Shahar,Ziv Parizat</td>
                            <td>Application Engineers Manager</td>
                        </tr>
                        <tr>
                            <td>Guy Berliner</td>
                            <td>Application Development Engineer</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni, Sanjeev Baluja, Eran Dvir</td>
                            <td>Mechanical General Design</td>
                        </tr>
                        <tr>
                            <td>Sushant Koshti, Eran Dvir</td>
                            <td>Gas Delivery </td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni, Eran Dvir</td>
                            <td>Liquid Delivery</td>
                        </tr>
                        <tr>
                            <td>Jeff Hudgens, Eran Dvir</td>
                            <td>ME-Mechatronics</td>
                        </tr>
                        <tr>
                            <td>Jeff Hudgens, Eran Dvir</td>
                            <td>Robotics</td>
                        </tr>
                        <tr>
                            <td>Steve Sansoni, Eran Dvir</td>
                            <td>Vacuum Engineering</td>
                        </tr>
                        <tr>
                            <td>Loy Stuart, Beni Hertzanu</td>
                            <td>Electrical General Design</td>
                        </tr>
                        <tr>
                            <td>Paul Wirth, Beni Hertza</td>
                            <td>EE-Mechatronics-Servo</td>
                        </tr>
                        <tr>
                            <td>Imran Afzal, Beni Hertzanu</td>
                            <td>AC/DC Power</td>
                        </tr>
                        <tr>
                            <td>Loy Stuart, Beni Hertzanu</td>
                            <td>Signal Processing</td>
                        </tr>
                        <tr>
                            <td>Loy Stuart, Beni Hertzanu</td>
                            <td>Controls</td>
                        </tr>
                        <tr>
                            <td>Kartik Ramaswamy, Beni Hertzanu</td>
                            <td>Process Power</td>
                        </tr>
                        <tr>
                            <td>Amit Puri, Irit Shaaya Segal</td>
                            <td>Developer</td>
                        </tr>
                        <tr>
                            <td>Eric Englhardt, Ron Bar-Or</td>
                            <td>Systems Engineer</td>
                        </tr>
                        <tr>
                            <td>Peter Curley, Noam Shahar</td>
                            <td>New Product Release Program Manager</td>
                        </tr>
                        <tr>
                            <td>Amit Puri, Noam Shahar</td>
                            <td>Software Project (Baseline) Manager</td>
                        </tr>
                        <tr>
                            <td>Todd Hart, Moshe Sade & Shai Haklai</td>
                            <td>Technical Product Support (TPS) Engineer</td>
                        </tr>
                        <tr>
                            <td>Amit Puri, Moshe Sade & Shai Haklai</td>
                            <td>Software Support Engineer</td>
                        </tr>
                        <tr>
                            <td>Todd Hart, Moshe Sade & Shai Haklai </td>
                            <td>Global Product Support (GPS) Engineer</td>
                        </tr>
                        <tr>
                            <td>Christine Pelissier, Art Sherman, Eitan Binyamini</td>
                            <td>Technical Marketing</td>
                        </tr>
                        <tr>
                            <td>Jaydeep Khedkar, Art Sherman, Eitan Binyamini</td>
                            <td>Product Marketing</td>
                        </tr>
                        <tr>
                            <td>Jaydeep Khedkar, Art Sherman, Eitan Binyamini</td>
                            <td>Strategic Marketing</td>
                        </tr>
                        <tr>
                            <td>Michael Brigman, Don Cordoni, Ofer Orenstein</td>
                            <td>Buyer</td>
                        </tr>
                        <tr>
                            <td>Peter Curley, Erez Admoni & Roman Abezgauz</td>
                            <td>Manufacturing Engineer</td>
                        </tr>
                        <tr>
                            <td>Danny Morales, Roman Abezgauz & Miki Gruber</td>
                            <td>Operations Management</td>
                        </tr>
                        <tr>
                            <td>Stephen Carlson, Miki Gruber</td>
                            <td>Planner</td>
                        </tr>
                        <tr>
                            <td>Clara Neri, Michelle Mapp Cooper, Miki Gruber</td>
                            <td>Planning and Control</td>
                        </tr>
                        <tr>
                            <td>Clara Neri, Michelle Mapp Cooper, Miki Gruber</td>
                            <td>Planning and Control</td>
                        </tr>
                        <tr>
                            <td>Troy Mills, Ofer Orenstein</td>
                            <td>Commodity Business Manager</td>
                        </tr>
                        <tr>
                            <td>John Geise, Ofer Orenstein</td>
                            <td>Materials Project Management</td>
                        </tr>
                        <tr>
                            <td>Peter Curley, Miki Gruber</td>
                            <td>Industrial Engineer</td>
                        </tr>
                        <tr>
                            <td>Mark J Lee, Kurt Kwok, Oren Shua</td>
                            <td>Business management</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-margin"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-box">
                <button href="#" (click)="proceed($event)" [disabled]="isDisabled" class="btn btn-success proceed-btn">Proceed &nbsp;&nbsp;&gt;</button>
            </div>
        </div>
    </div>
</div>

<msg-model-popup #msgModal>
    <div class="app-modal-header">
        <span>
      <b>Confirmation!</b>
    </span>
    </div>
    <div class="app-modal-body">
        <span>{{message}}</span>
    </div>
    <div class="app-modal-footer text-center">
        <button type="button" (click)="goToAdminPage($event)" class="btn btn-primary">Proceed</button>
        <button type="button" (click)="hideDialog($event)" class="btn btn-default">Cancel</button>
    </div>

</msg-model-popup>