<div class=" message-box">
  <div class="row">
    <div class="col-xs-10">
      <p>The curriculum definition process for appliedx PATHWAY is complete for FY ’18. The curricula have been routed to the
        learners to add to their pathways and finalize their learning plan this year. The curriculum definition for FY ’19
        will begin at a later date. If you have questions about this, please contact appliedx PATHWAY team at 
        <a href="mailto:appliedx_pathway@amat.com" class="send-email-link">appliedx_pathway@amat.com</a>
      </p>

    </div>
  </div>

</div>