<div class="container-fluid course-summary-box">
  <!-- title start -->
  <div class="course-summary-header">

    <div class="row">
      <div class="col-xs-2 text-left title">
        <span>{{courseListTitle}}</span>
      </div>
      <div class="col-xs-8"></div>
      <div class="col-xs-1 text-right padding-2">
        <summation-badge [inputCourseList] ="courseList"></summation-badge>
      </div>
    </div>
  </div>
  <!-- title ends -->

  <!-- body start -->
   <div class="course-summary-body">
  <div class="row" *ngFor="let c of courseList">
      
    <div class="col-xs-3 text-left padding-right-0">
        <span data-toggle="tooltip" title={{c.CourseTypeDesc}} trigger='hover' placement='left' [ngClass]="{'basic':c.CourseType==='Basic','intermediate':c.CourseType==='Intermediate','advance':c.CourseType==='Advanced','no-course-type': c.CourseType==='notype'}"></span>
      <span>{{c.CourseId}}</span>
    </div>
    <div class="col-xs-3 text-left padding-left-0">
      <a class="course" href="" (click)="modal.show($event,c.CourseId,false,undefined,c.IsMandatory)">{{c.CourseName}}</a>
    </div>
    <!-- <div class="col-xs-1"> </div> -->

    <div class="col-xs-4 text-left padding-left-0">
      <span>{{c.CompetencyList.join()}}</span>
    </div>
    <!-- <div class="col-xs-1"> </div> -->
    <div class="col-xs-1 text-right padding-2">
        <span class="duration">{{c.Duration}} h</span>
      </div>
      <div class="col-xs-1 text-left padding-2" [hidden]="!isRequired">
          <span class="glyphicon glyphicon-asterisk mandatoryStar" aria-hidden="true"></span>
        </div>
      <!-- <div class="col-xs-1 text-center">
        
         
        </div> -->
  </div>
</div>
  
</div>

<app-modal #modal></app-modal>