<div [hidden]="foundationCurriculumList?.length === 0">
    <div class="course-list-container">

        <!-- <div class="row">
            <div class="pull-left title">
                <span class="course-list-container__span">{{skillName}} Elective</span>
            </div>
        </div> -->
        <div class="course-list-header">
            <div class="row">
                <!-- <div class="col-xs-1"></div> -->
                <div class="col-xs-7 text-left">
                    <!-- <span class="course-list-container__span">{{skillName}} Elective Courses</span> -->
                </div>
                <div class="col-xs-3"></div>
                <div class="col-xs-2 text-center summation-badge">
                    <summation-badge [inputCourseList]="foundationCurriculumList"></summation-badge>
                </div>
            </div>
        </div>
        <div class="course-list-body">
            <div class="row" *ngFor="let c of foundationCurriculumList">
                <!-- <div class="col-xs-12"> -->
                <!-- <div class="row greenBullet"> -->
                <!-- <div class="col-xs-1 text-left">
                    <span data-toggle="tooltip" title={{c.CourseTypeDesc}} trigger='hover' placement='left' [ngClass]="{'basic':c.CourseType==='Basic','intermediate':c.CourseType==='Intermediate','advance':c.CourseType==='Advanced','no-course-type': c.CourseType==='notype'}"></span>
                </div> -->

                <div class="col-xs-3  text-left">
                    <span data-toggle="tooltip" title={{c.CourseTypeDesc}} trigger='hover' data-container='body' data-placement='top' [ngClass]="{'basic':c.CourseType==='Basic','intermediate':c.CourseType==='Intermediate','advance':c.CourseType==='Advanced','no-course-type': c.CourseType==='notype'}"></span>
                    <label class="pde">{{c.CourseId}}</label>

                </div>
                <div class="col-xs-3  text-left">
                    <a class="course" href="" (click)="modal.show($event,c.CourseId,false,undefined,c.IsMandatory)">{{c.CourseName}}</a>
                </div>
                <div class="col-xs-4  text-left">
                    <!-- <label class="customer" *ngFor="let competency of c.competencies">{{competency}},</label> -->
                    <span class="customer">{{c.CompetencyList.join()}}</span>
                </div>
                <div class="col-xs-2 text-right">
                    <span class="duration">{{c.Duration}} h</span>
                    <!-- <span (click)="addCourse(c)" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> -->
                    <span (click)="deleteCourse(c)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <span data-toggle="tooltip" title={{infoTooltip}} trigger='hover' data-container='body' data-placement='top' (click)="MakeCourseMandatory($event,c)" class="glyphicon glyphicon-star" [ngClass]="{'electiveStar':c.IsMandatory===false}" aria-hidden="true"></span>
                </div>
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<app-modal #modal></app-modal>