<div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-primary no-cursor" type="button">Catalog</button>
  </span>

    <input #searchInput type="text" (keyup)="onSearchInputChange(searchInput.value)" class="form-control" placeholder="Search courses by id, name, competencey OR course description">

    <span class="input-group-btn">
    <button class="btn btn-success no-cursor" type="button">

      <span class="glyphicon glyphicon-search no-cursor" aria-hidden="true"></span>


    </button>
    </span>

</div>
<div class="container-fluid">
    <div class="row center-block">
        <div class="col-xs-11 col-xs-push-1">
            <form>
                <span>
          <b>Search by:</b>
        </span>
                <label class="radio-inline">
          <input type="radio" name="optradio" [(ngModel)]="selectedSearchKey" (ngModelChange)="onSearchInputChange(searchInput.value)"  value="courseId">Course Id
        </label>
                <label class="radio-inline">
          <input type="radio" name="optradio" [(ngModel)]="selectedSearchKey" (ngModelChange)="onSearchInputChange(searchInput.value)" value="coursename">Course Name
        </label>
                <label class="radio-inline">
          <input type="radio" name="optradio" [(ngModel)]="selectedSearchKey" (ngModelChange)="onSearchInputChange(searchInput.value)" value="competency">Competency Name
        </label>
                <label class="radio-inline">
            <input type="radio" name="optradio" [(ngModel)]="selectedSearchKey" (ngModelChange)="onSearchInputChange(searchInput.value)" value="coursedesc">Course Desc
          </label>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="removeResultBox">
    <div class="row">
        <div class="col-xs-12 result-box">
            <div>
                <div [ngSwitch]="isBusy">
                    <div *ngSwitchCase="false">

                        <div [hidden]="searchResult?.length===0">
                            <course-list (onAddCourse)="addCourseFromSearch($event)" (onCourseDetail)="showCourseDetailPopUp($event)" [isVisible]="showResultBox" [inputCourseList]="searchResult"></course-list>
                        </div>
                        <div class="no-result text-center" [hidden]="!(showResultBox && searchResult?.length === 0)">
                            <span>No Result found.Please try another search key.</span>
                        </div>


                    </div>
                    <div *ngSwitchCase="true">

                        <loading-indicator></loading-indicator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-modal #modal></app-modal> -->