<div class="container-fluid">
    <div class="row">
        <ul class="Details">
            <li class="YourPath">Your path details</li>
            <!-- <li class="Time">
                <span class="Number pull-left">{{totalHours}}  </span>
                <span class="Hours pull-right hours-text">HOURS OF MANDATORY COURSES</span>
                <div class="clearfix"></div>
            </li> -->

            <li class="Time FullHour">
                <span class="total-hour-number">{{totalHours}}</span>
                <span class="Hours">HOURS OF MANDATORY COURSES</span>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>