.glyphicon-trash {
    color: red;
}

.glyphicon-plus-sign {
    color: green;
}

.Path {
    background: #fff;
    border: 1px solid #ebebe9;
    box-shadow: 0px 2px 5px rgba(234, 234, 234, 0.87);
    padding: 0px 15px;
    /* margin-top: 8px; */
}

.courses {
    margin-top: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 12px;
}

.title>span {
    color: #242527;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    /* text-transform: capitalize; */
}

.duration {
    color: #53565A;
    font-family: "Open Sans";
    font-size: 13px;
    /* margin-right: 10px; */
}

#custom-search-input {
    padding: 0px;
    border: solid 1px #d9d9d6;
    border-radius: 2px;
    background-color: #fff;
}

#custom-search-input .Catalog {
    background-color: #4599C3;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 0 20px;
    text-align: center;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
    padding: 3px 10px;
}

#custom-search-input button {
    margin: 0;
    line-height: 10px;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input .fa-search {
    font-size: 14px;
    color: #D9D9D6;
    font-weight: normal;
}

.course-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    background-color: #fafafa;
}

.box-margin {
    margin: 40px;
}

.history-box {
    padding:15px 40px 20px 20px;
}