<div class="container">
    <div class="row">
      
        <div class="col-md-12 text-center success-header">
            <span class="glyphicon glyphicon-ok-sign"></span> SUCCESS!
          </div>  
        
    </div>
    <div class="row"></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p class="success-message text-center">You have successfully created recommendations for</p>
      <p class="text-center">the <a href="#" [routerLink]="['/admin']">{{currentSelectedAdminRole}} Pathways for 2018</a></p>
    </div>
  </div>
  <hr />

  <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" [routerLink]="['/admin']" class="NextButton">CREATE NEW PATHWAY</a>
      </div>
    </div>
</div>
